[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/jlagneau/.emacs.d.git
[submodule ".bin/42init"]
	path = .bin/42init
	url = https://github.com/jlagneau/42init.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
