[user]
        name = jlagneau
        email = jlagneau@student.42.fr

[core]
        excludesfile = ~/.gitignore_global

[color]
	ui = auto

[alias]
	pull = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
    clone = "'!git clone --recursive \"$@\""
[push]
	default = simple
