[submodule ".config/42init"]
	path = .config/42init
	url = git@github.com:jlagneau/42init.git
[submodule ".config/gdbinit"]
	path = .config/gdbinit
	url = git@github.com:gdbinit/Gdbinit.git
[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".config/gitsmtost"]
	path = .config/gitsmtost
	url = git@github.com:jlagneau/git-submodules-to-subtree.git
[submodule ".config/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .config/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".config/spacemacs"]
	path = .config/spacemacs
	url = git@github.com:jlagneau/spacemacs.git
